crates/mobile/android-project/local.properties
crates/mobile/android-project/app/build/
crates/mobile/android-project/.gradle
crates/mobile/android-project/app/src/main/jniLibs
.vscode/ra-cache
target/
package/
crates/aspenlib/src/utilities/.unused_utils
crates/desktop/debug.log
crates/desktop/config.toml
crates/wasm/dist
crates/*/assets/
assets/packs/asha/levels/aspenhallsLevelSet/backups
Cargo.lock
crates/*/config.toml
crates/*/tiles.png
crates/*/cyclic.dot
config.toml
debug.log
dungeon.dot
pathmap.dot
pathmap.png
crates/desktop/.schedule